body {
  min-width: 320px;
  min-height: 1080px;
  background-color: var(--main-white);
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
  font-weight: bold;
  position: relative;
}

:root {
  --main-blue: rgb(0, 81, 255);
  --main-black: rgb(20, 20, 20);
  --main-white: rgb(245, 245, 245);
}

